<h2>Movie Detail</h2>

<div class="row">
    <img *ngIf="movie" src="../../assets/images/{{movie?.id}}.jpg" alt="{{movie?.id}}" class="img-thumbnail">

    <div *ngIf="movie" class="movie-detail-info">
        <h3>{{movie.title}}</h3>
        <h4>{{movie.release_date}}</h4>
        <p>{{movie.synopsis}}</p>
    </div>
</div>

<h2>Featured Actors/Actresses</h2>
<div class="featured-actors well" *ngIf="featuredActors">
    <img
        *ngFor='let record of featuredActors'
        src="../../assets/images/{{record}}.jpg" 
        alt="record"
        [routerLink]="['/actors', record]"
        class="img-thumbnail"
    >
</div>
