.well {
    height: 320px;
    max-height: 320px;
    position: relative;
    cursor: pointer;
}

.well > img {
    position: absolute;
}

.movie-info {
    display: inline-block;
    width: 70%;
    margin-left: 215px;
    padding-right: 20px;
}